<% if version.whodunnit.present? %>
  <li>
    <%= @users.select { |u| u.id == version.whodunnit.to_i }.first.name %>
    <%= "#{version.event}d" %>
    <%= version.item_type.downcase %>
    <%= version.item.name %>
    <%= "#{time_ago_in_words(version.created_at)} ago" %>
  </li>
<% end %>
