<%= cambium_page_title(admin_form.title) %>

<div id="page-content"
     data-library="<%= cambium.admin_documents_path(:no_layout => true) %>">
  <%= cambium_form(@object, admin_form.fields) do |f| %>
    <% if @object.template.present? && @object.template.has_fields? %>
      <h2>Custom Template Fields</h2>
      <%= f.simple_fields_for :template_data,
                              OpenStruct.new(f.object.template_data) do |td| %>
        <% @object.template.fields.each do |field| %>
          <%= cambium_field(td, @object, field) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
