<section class="post-detail" id="post-detail=<%= @post.id %>">
  <header>
    <%= image_tag(@post.main_image.to_crop.url) if @post.main_image.to_s %>
  </header>
  <article>
    <h1><%= @post.title %></h1>
    <%= content_tag :h2, "by #{@post.author_name}" if @post.author_name %>
    <%= @post.body.html_safe %>
  </article>
</section>