<div id="form">

  <header class="intro">
    <div class="breadcrumbs">
      <% index_label ||= classname.downcase %>
      <%= link_to index_label, index %>
      <span>/</span>
      <%= link_to title.downcase, "#", :class => "disabled title"  %>
    </div>
    <h1 class="title"><%= title %></h1>
  </header>

  <section class="form-container">
    <%= render :partial => 'admin/shared/status' %>
    <%= render :partial => 'form' %>
  </section>

</div>