<%= cambium_page_title(admin_table.title) %>

<div id="page-content" class="tiles">
  <% @collection.each do |obj| %>
    <article class="tile <%= obj.ext %>" data-id="<%= obj.id %>"
             data-filename="<%= obj.upload.name %>"
             data-url="<%= obj.upload.url %>">
      <%= link_to(cambium.edit_admin_document_path(obj)) do %>
        <%= image_tag(obj.thumb_url) if obj.has_thumb? %>
        <h3><%= obj.title %></h3>
      <% end %>
    </article>
  <% end %>
</div>
