<%= render :partial => 'admin/shared/insert_image' %>
<%= simple_form_for @item, :url => @url do |f| %>

  <%= form_column 'overview' do %>
    <%= f.input :title %>
    <%= f.input :slug, :label => 'URL' %>
    <div class="fields">
      <div id="tag-container">
        <input type="text" placeholder="add tags" id="new-tag-title" class="new-tag-title">
        <div class="tagging-errors"></div>
        <ul class="autocomplete"></ul>
        <p class="loading">Loading...</p>
        <ul id="tag-list"></ul>
      </div>
    </div>
    <div class="image-uploader">
    <%= f.input :main_image %>
    <% if @item.main_image.to_s.present? %>
      <%= content_tag :div, :class => 'control-group' do %>
        <%= image_tag(@item.main_image.thumb.url) %>
        <br>
        <%= f.check_box :remove_main_image %> Remove image
      <% end %>
    <% end %>
    </div>

  <% end %>

  <%= form_column 'publish', 'right' do %>
    <%= publishable_fields(f) %>
    <%= f.input(:is_featured) %>
  <% end %>

  <%= form_section 'body' do %>
    <%= wysiwyg(f) %>
  <% end %>

  <%= f.button :submit %>

<% end %>
