<section id="pages">
  <header>
    <%= render :partial => 'buttons' %>
    <%= render :partial => 'title' %>
  </header>

  <div class="table-container">

    <%= render :partial => 'admin/shared/status' %>

    <table>
      <thead>
        <tr>
          <% @columns.each do |col| %>
          <th><%= col.titleize %></th>
          <% end %>
          <% if @actions %>
          <th class="actions">Actions</th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @items.each do |item| %>
        <tr>
          <% @columns.each do |col| %>
          <td><%= item.send(col) %></td>
          <% end %>
          <% if @actions %>
          <td class="actions">
            <% if @actions.include?(:edit) %>
              <%= link_to [:edit, :admin, item] do %>
              <i class="icon-pencil"></i>&nbsp;Edit
              <% end %>
            <% end %>
            <% if @actions.include?(:delete) %>
              <%= link_to [:admin, item], :method => :delete, :data => { :confirm => "Are you sure?" } do %>
              <i class="icon-remove"></i>&nbsp;Delete
              <% end %>
            <% end %>
          </td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>

  </div>

</section>
