<header>
  <div class="logo">
    <%= link_to Cambium.configuration.app_title, admin_dashboard_path %>
  </div>
  <div class="user dropdown-container">
    <%= link_to('#', :class => 'dropdown-trigger') do %>
      <%= content_tag(:span, current_user.email, :class => 'name') %>
      <%= avatar(current_user, 84) %>
    <% end %>
    <div class="dropdown-menu">
      <ul>
        <%= content_tag(
          :li,
          link_to(
            'Sign Out',
            main_app.destroy_user_session_path,
          )
        ) %>
      </ul>
    </div>
  </div>
</header>